@charset "UTF-8";
body {
  font-size: 62.5%;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}
#main {
  margin: 4%;
}
#main img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}
.title {
}
